
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flask specific
instance/
*.db

# Pytest cache
.pytest_cache/
.vercel
